body {
	height: 100vh;
}

.bg_desc {
	position: absolute;
	color: white;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	z-index: 2;
	font-size: 1.2rem;
	letter-spacing: 1px;

	p {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 2.5rem;
		font-weight: 400;
	}

	i {
		font-size: 2rem;
		margin-right: 1.8rem;
	}
}

// Transition
.animated {
	animation-duration: 0.3s;
}

.ant-btn {
	border-radius: 4px;
}

.ant-input {
	background-color: lighten(@body-background, 5%);
	border: none;
	border-radius: 4px;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}

.ant-input-search-icon {
	color: #ffffff !important;
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}
}

.ant-layout {
	background: @body-background;
	border-left: 1px solid lighten(@body-background, 10%);
	border-right: 1px solid lighten(@body-background, 10%);
}

.ant-layout-footer {
	color: rgba(255, 255, 255, 0.5);
	padding: 0 0 1rem 0;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item,
.ant-menu-dark.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-dark.ant-menu-inline .ant-menu-item .ant-menu-item-selected {
	&:hover {
		background-color: rgba(@primary-color, 0.2);
	}
}

.ant-menu-dark .ant-menu-item {
	color: #ffffff;
	font-weight: 700;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
	background-color: transparent;
	color: @primary-color;
}

.ant-layout-sider-trigger:hover {
	background: lighten(@body-background, 5%);
}
