.content {
	padding: 0 5rem;
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&_footer {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%) !important;
		opacity: 0.4;
	}
}

#customForm {
	width: 100%;

	.form_header {
		position: absolute;
		top: 10%;
		left: 0;
		width: 100%;
		padding: 0 5rem;
		display: flex;
		align-items: center;

		span {
			font-size: 1.4rem;
			margin-left: 1.4rem;
			color: #ffffff;
		}
	}
	.custom_form {
		position: relative;

		.ant-input {
			background: none !important;
		}
	}
	.form_button {
		width: 100%;
	}
}

.register_logo {
	width: 100px;
	display: inline-block;
	transform-origin: center;
	opacity: 1;
}

// Home Layaut
.home_layout {
	overflow: hidden;

	&_header {
		display: none;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 0 1rem;
		border-bottom: 2px solid lighten(@body-background, 10%);

		@media screen and (max-width: 576px) {
			display: flex;
		}

		.ant-menu-item {
			padding: 0;
			margin-left: 1.3rem;
		}

		.logo {
			display: flex;

			img {
				margin-right: 1rem;
			}
		}
	}

	&_sidebar {
		overflow: auto;
		height: 100vh;
		left: 0;
		width: 15%;

		@media screen and (max-width: 576px) {
			display: none;
		}
		@media screen and (max-height: 576px) {
			display: none;
		}

		.logo {
			padding: 0 1rem;
			margin: 0;
			height: 97px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: none;

			&_link {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				text-decoration: none;

				img {
					width: 30%;
					margin-right: 1rem;
				}

				span {
					font-size: 1.4rem;
				}
			}
		}

		&--left {
			padding: 1rem;
			min-width: 400px;

			@media screen and (max-width: 992px) {
				display: none;
			}
		}
	}

	&_content {
		width: 100%;

		&_header {
			padding: 1rem 2rem;
			height: auto;
			border-bottom: 10px solid lighten(@body-background, 10%);
		}

		&_view {
			overflow-x: hidden;
			overflow-y: scroll;
			min-height: 70vh;
		}
	}
}

.posts_container {
	overflow: auto;
	padding: 0;
	height: 78vh;

	.post_user_wrap {
		color: #ffffff;
		padding: 0;
		margin: 0;

		.post_username {
			font-size: 0.9rem;
			color: #829ab1;
			position: relative;

			&::after {
				content: '/';
				margin-left: 0.5rem;
			}
		}

		.post_title {
			font-size: 1rem;
			transition: color 0.15s ease-out;

			&:hover {
				color: @primary-color;
			}
		}

		.post_date {
			color: #829ab1;
			font-size: 0.8rem;
			display: inline-block;
			margin-left: 0.5rem;
		}
	}

	.ant-list-item-content {
		margin: 0;
	}

	@media screen and (max-width: 576px) {
		.ant-list-item-meta-avatar {
			margin-right: 0;
		}
	}

	.ant-list-item-meta-description {
		color: #ffffff;
	}

	.ant-list-item-action > li {
		color: #ffffff;
	}

	.ant-avatar {
		width: 52px;
		height: 52px;
	}

	.ant-list-split .ant-list-item {
		padding: 2rem;
		cursor: pointer;
		transition: background 0.15s ease-out;

		@media screen and (max-width: 576px) {
			padding: 2rem 2rem 4rem 2rem;
		}

		&:hover {
			background: rgba(lighten(@body-background, 40%), 0.1);
		}

		&:last-child {
			border-bottom: none !important;
		}
	}

	.posts_loading {
		position: absolute;
		bottom: 40px;
		width: 100%;
		text-align: center;
	}

	.post_avatar {
		background-color: lighten(@body-background, 10%);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.3rem;

		@media screen and (max-width: 576px) {
			display: none;
		}
	}
}

.post_item {
	position: relative;
}

.comment_added_avatar {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	background-color: lighten(@body-background, 15%);
}

.post_actions {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 1rem;
	position: absolute;
	right: 1rem;
	z-index: 10;

	.add_comment_wrap {
		background-color: #fff;
	}

	.detail_action {
		display: flex;
		align-items: center;

		.like_count {
			color: #829ab1;
			margin-right: 1rem;
			margin-left: -0.3rem;
		}
	}

	&--top {
		top: -0.5rem;
	}

	&--bottom {
		position: initial;
		bottom: 0;
		top: 0;
		justify-content: flex-start;
	}

	@media screen and (max-width: 576px) {
		top: initial;
		right: initial;
		bottom: 0.7rem;
		left: 0;
		justify-content: center;
	}

	&_icon {
		color: rgba(#829ab1, 0.5);
		font-size: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		transition: all 0.15s ease-out;
		margin: 0 0.5rem;
		animation-duration: 0.3s;
		animation-timing-function: ease-out;
		animation-fill-mode: forwards;

		&.like:hover {
			background-color: rgba(#f1c40f, 0.2);
			color: lighten(#f1c40f, 10%);
		}

		&.comment:hover {
			background-color: rgba(@primary-color, 0.2);
			color: @primary-color;
		}

		&.share:hover {
			background-color: rgba(#f5f6fa, 0.2);
			color: lighten(#f5f6fa, 10%);
		}

		@keyframes bounce {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.5);
			}
			100% {
				transform: scale(1);
			}
		}
	}
}

.comment_length_home {
	position: absolute;
	left: 16px;
	bottom: -1.8rem;
	font-size: 0.7rem;
	color: lighten(#f5f6fa, 10%);
	opacity: 0.5;
}

.comment_length {
	position: absolute;
	right: 8px;
	bottom: 0.5rem;
	font-size: 0.7rem;
	color: lighten(#f5f6fa, 10%);
	opacity: 0.5;
}

// Most liked
.most_liked_posts {
	margin: 1.5rem 0;
	width: 100%;
	// height: 480px;
	overflow-y: scroll;
	border-radius: 10px;
	box-shadow: 0 0 1rem rgba(#000000, 0.2);

	.most_liked_posts_item {
		position: relative;
	}

	&_title {
		margin: 0;
		font-size: 1rem;
	}

	&_like {
		margin: 0;
		opacity: 0.5;
		font-size: 0.8rem;
	}

	&_action {
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translateY(-50%);
		font-size: 1.2rem;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.15s ease-out;

		&:hover {
			background-color: rgba(#2ecc71, 0.2);
			color: lighten(#2ecc71, 10%);
		}
	}

	&_feedback_menu {
		padding: 0 !important;
		letter-spacing: 1px;

		li:hover {
			background-color: @primary-color;
			color: #000;
		}
		li:nth-child(2):hover {
			background-color: #f4d03f;
		}
		li:last-child:hover {
			background-color: @error-color;
		}
	}

	.ant-list-header {
		// border-bottom: 2px solid lighten(@body-background, 20%);
		border-bottom: none;

		// padding: 0.5rem 1.5rem;
		padding: 0;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		font-size: 1.1rem;
		opacity: 0.5;
		text-align: left;
	}

	.ant-list-item-content {
		display: flex;
		flex-direction: column;
	}

	.ant-list-split .ant-list-item {
		padding: 1rem 1.5rem;
		cursor: pointer;
		transition: background 0.15s ease-out;
		position: relative;

		&:hover {
			background: rgba(lighten(@body-background, 40%), 0.1);
		}

		&:last-child {
			border-bottom: none;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
		}
	}
}

// Post Detail

.post_detail {
	width: 100%;
	display: flex;
	flex-direction: column;

	&_header {
		width: 100%;
		display: flex;

		.post_avatar {
			width: 56px !important;
			height: 56px !important;
			font-size: 1.4rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: lighten(@body-background, 10%);
			margin-right: 1rem;
		}

		.detail_username {
			font-size: 0.9rem;
			color: #829ab1;
			position: relative;

			&::after {
				content: '/';
				margin-left: 0.5rem;
			}
		}

		.detail_date {
			color: #829ab1;
			font-size: 0.8rem;
			display: inline-block;
			margin-left: 0.5rem;
		}

		.post_title {
			font-size: 1.4rem;
		}
	}

	&_content {
		position: relative;

		.mobile_post_actions {
			display: none;

			@media screen and (max-width: 768px) {
				display: flex;
			}
		}
	}

	.desktop_post_actions {
		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	&_comments {
		height: auto;
		overflow-y: scroll;

		.ant-comment-content {
			min-width: 100%;
		}

		.comment_author {
			color: #829ab1;
			font-size: 0.8rem;
		}

		.comment_avatar {
			width: 36px !important;
			height: 36px !important;
			font-size: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: lighten(@body-background, 10%);
		}

		.comment_detail {
			width: 80%;
		}

		.ant-list-split .ant-list-item,
		.ant-list-split .ant-list-header {
			border-bottom: 2px solid rgba(#829ab1, 0.3);

			&:last-child {
				border-bottom: none !important;
			}
		}
	}
}

.ant-dropdown-content {
	padding: 0.5rem 1rem;
	// background: lighten(@body-background, 10%);
	border-radius: 4px;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
	color: #829ab1;
}

.ant-dropdown-menu-item {
	color: @primary-color;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
	// background: lighten(@body-background, 10%);
	background-color: transparent;
	color: @error-color;
}

.post_comment_title {
	color: #829ab1;
	margin: 2rem 0 0.5rem;
}

.share_pl_wrap {
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

.share_pl {
	// color: #ffffff;
	font-size: 1.2rem;
	transition: all 0.25s ease-out;
	padding: 0.2rem;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: rgba(@primary-color, 0.3);
	}
}

.comment_modal {
	border-radius: 0.5rem;

	.ant-modal-content {
		background: none;
		box-shadow: none;
	}
	.ant-timeline-item-content {
		margin-left: 38px;
	}

	.ant-timeline-item-head {
		background: none;
	}
	.ant-modal-body {
		padding-bottom: 1rem;
	}

	.ant-modal-footer {
		// border-top: 2px solid lighten(#bcccdc, 3%);

		.ant-btn {
			border: none;
		}

		.ant-btn:first-child {
			background-color: @body-background;
			transition: background-color 0.25s ease-out;

			&:hover {
				background-color: darken(@body-background, 6%);
			}
		}
	}

	.comment_error {
		margin-left: 1rem;
		color: @error-color;
		font-size: 0.8rem;
	}
}

.comment_timeline {
	padding: 0.5rem 1rem 1rem;
	padding-bottom: 0;

	.ant-timeline-item-last {
		padding-bottom: 0;
	}
}

.comment_textarea {
	// background: lighten(@body-background, 10%);
	color: #ffffff;
	width: 100%;
	padding: 0.6rem 1rem;
	outline: none;
	border: none;
	margin: 0;
	margin-left: 0;
	margin-top: -8px;
	line-height: 1.4;
	border-radius: 5px;

	@media screen and (max-width: 576px) {
		width: 90%;
	}

	&::placeholder {
		color: #829ab1;
	}
}

.right_list_close {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	border-radius: 50%;
	transition: all 0.25s ease-out;

	&:hover {
		background: rgba(@primary-color, 0.3);
		color: #ffffff;
	}
}

// Logout
.logout_wrap {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.logout_content {
		background-color: lighten(@body-background, 10%);
		border-radius: 8px;
		width: 23%;
		padding: 1.6rem 1.2rem;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-shadow: 0 0 1rem rgba(darken(@body-background, 10%), 0.4);

		@media screen and (max-width: 1200px) {
			width: 30%;
		}

		@media screen and (max-width: 1024px) {
			width: 40%;
		}

		@media screen and (max-width: 768px) {
			width: 60%;
		}

		@media screen and (max-width: 576px) {
			width: 90%;
			padding: 1rem 0.6rem;
		}

		@media screen and (max-height: 321px) {
			width: 60%;
			padding: 1rem 0.6rem;
		}

		.logout_img {
			width: 60px;
			margin: 0 auto;
			margin-bottom: 1.6rem;
		}

		p {
			margin-bottom: 0;
			font-size: 1.3rem;
			margin-bottom: 0.1rem;
			padding: 0;
		}

		span {
			margin-bottom: 1rem;
			font-size: 1rem;
			color: #829ab1;
		}

		.logout_actions {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 1rem;

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 43%;
				height: 42px;
				line-height: 42px;
				border: none;

				span {
					color: #ffffff;
					font-size: 1.2rem;
				}
			}

			.cancel_logout {
				background-color: #829ab1;
				transition: background-color 0.25s ease-out;

				&:hover {
					background-color: darken(#829ab1, 12%);
				}
			}
		}
	}
}

// Setting page
.settings_card {
	.ant-card-head {
		color: #ffffff;
		border-bottom: 10px solid lighten(@body-background, 10%);

		&-title {
			font-size: 1.2rem;
		}
	}

	.settings_wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
	}

	.settings_name {
		font-size: 1.1rem;
		color: #829ab1;
		margin-bottom: 1.7rem;
	}

	.settings_item {
		margin-bottom: 1.8rem;

		.label {
			display: inline-block;
			margin-right: 1rem;
		}

		.ant-switch {
			background-color: rgba(lighten(@body-background, 55%), 0.5);

			&.ant-switch-checked {
				background-color: @primary-color;
			}
		}
	}
}

.posted_avatar {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	background-color: lighten(@body-background, 15%);
}

.post_detail_wrap {
	min-height: 97px;
	border: none;
	position: relative;

	.username {
		color: #829ab1;
		margin-right: 0.5rem;

		&::after {
			content: '/';
			margin-left: 0.5rem;
		}
	}

	.date {
		color: #829ab1;
	}

	.title {
		font-size: 1.2rem;
		margin-bottom: 0.6rem;
	}
}

// Page Header
.page_header {
	width: 100%;
	padding: 0.5rem 1.5rem;
	border-bottom: 2px solid lighten(@body-background, 15%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #829ab1;

	.back_wrap {
		display: flex;
		align-items: center;

		.back_icon {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			font-size: 1.3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition: all 0.3s ease-out;
			margin-right: 0.3rem;

			&:hover {
				background-color: rgba(@primary-color, 0.3);
				color: @primary-color;
			}
		}

		.back_text {
			font-size: 1rem;
			color: #829ab1;
			position: relative;

			&::before {
				content: '/';
				margin-right: 1rem;
			}
		}
	}
}

.new_post_modal {
	background: none !important;

	.ant-modal-content {
		background: none !important;
	}

	.ant-modal-header {
		background: none !important;
	}

	.post_form_title {
		font-size: 0.13rem;
	}

	.post_form_footer {
		padding: 1rem 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		button:last-child {
			margin-left: 1rem;
		}

		.cancel_btn {
			color: #829ab1 !important;
			transition: color 0.25s ease-out;

			&:hover {
				color: @error-color !important;
			}
		}
	}
}

// Profile Page
.profile_wrap {
	width: 100%;
	min-height: 40vh;

	.ant-card-head {
		border-bottom: 10px solid lighten(@body-background, 15%);

		&-title {
			color: #ffffff;
			font-size: 1.2rem;
		}
	}

	.profile_card {
		border-bottom: 10px solid lighten(@body-background, 15%);

		.ant-card-body {
			position: relative;

			@media screen and (max-width: 576px) {
				text-align: center;
			}
		}

		.ant-card-meta-title {
			color: #ffffff;
			font-size: 1.3rem;
		}
		.ant-card-meta-description {
			color: #829ab1;
			font-size: 1rem;
		}

		.ant-card-meta-avatar {
			@media screen and (max-width: 576px) {
				float: none !important;
				padding-right: 0;
				margin-bottom: 0.5rem;
			}
		}

		.profile_avatar {
			width: 64px;
			height: 64px;
			background-color: lighten(@body-background, 15%);
			line-height: 64px;
			font-size: 1.4rem;
		}

		.profile_header {
			display: flex;
			align-items: center;
			position: absolute;
			top: 1rem;
			right: 1rem;

			@media screen and (max-width: 576px) {
				position: relative;
				bottom: initial;
				right: initial;
				margin: 1rem auto;
				width: 100%;
				justify-content: center;
			}
		}
	}

	.openModalBtn {
		position: absolute;
		bottom: 1rem;
		right: 1.5rem;
		width: 205px;

		@media screen and (max-width: 576px) {
			position: relative;
			bottom: initial;
			right: initial;
			margin: 1.5rem auto 0 auto;
			width: 80%;
		}
	}

	.profile_shared {
		border-bottom: 2px solid lighten(@body-background, 15%);
		padding: 1rem 1.5rem;
		color: #829ab1;
		font-size: 1.1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.shared_title {
			@media screen and (max-width: 576px) {
				display: none;
			}
		}

		.my_post_search {
			width: 40%;
			position: relative;

			.cancel_search {
				position: absolute;
				top: 50%;
				left: -2rem;
				transform: translateY(-50%);
				cursor: pointer;
				transition: color 0.25s ease-out;

				&:hover {
					color: @primary-color;
				}
			}

			@media screen and (max-width: 992px) {
				width: 50%;
			}

			@media screen and (max-width: 768px) {
				width: 60%;
			}

			@media screen and (max-width: 576px) {
				width: 100%;
			}
		}
	}
}

// Not found page
.not_found_wrap {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.not_found {
		width: 40%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: lighten(@body-background, 10%);
		border-radius: 8px;
		padding: 3rem 1rem;
		box-shadow: 0 0 1rem rgba(darken(@body-background, 10%), 0.4);

		@media screen and (max-width: 768px) {
			width: 90%;
		}

		&_status {
			font-size: 2rem;
			color: @primary-color;
			margin-bottom: 1rem;

			@media screen and (max-width: 576px) {
				font-size: 1.5rem;
			}
		}

		&_desc {
			font-size: 1.3rem;
			color: #ffffff;
			margin-bottom: 2rem;

			@media screen and (max-width: 576px) {
				font-size: 1rem;
			}
		}
	}
}

// Prepare page
.prepare {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&_text {
		font-size: 1.3rem;
		margin-bottom: 0.4rem;
		color: #829ab1;
	}
}
