.content {
	padding: 0 5rem;
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&_footer {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%) !important;
		opacity: 0.4;
	}
}

#customForm {
	width: 100%;

	.form_header {
		position: absolute;
		top: 10%;
		left: 0;
		width: 100%;
		padding: 0 5rem;
		display: flex;
		align-items: center;

		span {
			font-size: 1.4rem;
			margin-left: 1.4rem;
			color: #829ab1;
		}
	}
	.custom_form {
		position: relative;
	}
	.form_button {
		width: 100%;
	}
}

.register_logo {
	width: 100px;
	display: inline-block;
	transform-origin: center;
	opacity: 1;
}
